[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
nltk = "==3.3"
tqdm = "*"
rootpath = "*"
numpy = "*"
gensim = "*"
google-cloud-language = "*"

[requires]
python_version = "3.7"
